{# Copyright (C) 2012 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Joomla! Todo{% endblock %}</title>
        <link rel="stylesheet" href="{{ uri.base.path }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ uri.base.path }}css/bootstrap-theme.css">
        <link rel="stylesheet" href="{{ uri.base.path }}css/todo.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">JTodo</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
      
        <div class="container">
      
        <div class="starter-template">
            {% block body %}
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
            {% endblock %}
        </div>
      
        </div><!-- /.container -->
      
      
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ uri.base.path }}js/jquery.js"></script>
        <script src="{{ uri.base.path }}js/bootstrap.min.js"></script>
    </body>
</html>